:root {
    --primary: #a98766;
    --bg: #ffffff;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body {
    font-family: 'Arial', sans-serif, serif;
    background-color: var(--bg);
    color: #000000;
}

/* Navbar style start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .logo-navbar {
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
    font-style: italic;
    padding-left: 1rem;
}

.navbar .logo-navbar span {
    color: var(--primary);
}

.navbar .isinavbar .list-navbar {
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
    margin-top: 0.5rem;
}

.navbar .isinavbar .list-navbar a {
    color: #000000;
}

.navbar .list-navbar a:hover, .navbar .login-navbar a:hover {
    color: var(--primary);
}

.navbar .list-navbar a::after, .navbar .login-navbar a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .list-navbar a:hover::after, .navbar .login-navbar a:hover::after {
    transform: scaleX(0.5);
}

.navbar .login-navbar {
    margin: 0 1rem;
    display: inline-block;
    font-size: 1rem;
    justify-content: right;
    margin-top: 0.5rem;
}

.navbar .login-navbar a {
    color: #000000;
}
/* Navbar style end */

/* Hero style start */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../image/hero2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 40%);
}

.hero .hero-content {
    position: absolute;
    padding: 1.4rem 7%;
    max-width: 60rem;
    padding-top: 20rem;
}

.hero .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #4d4646;
    text-shadow: 1px 1px 3px #ffffff;
    line-height: 1.1;
}

.hero .hero-content h1 span {
    color: var(--primary);
    text-shadow: 1px 1px 2px #ffffff;
}

.hero .hero-content p {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
    font-weight: 100;
    color: #887474;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    mix-blend-mode: difference;
}

.hero .hero-content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    color: #000000;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

/* Hero style end */

/* About style start */
#about-content {
    padding: 6rem 7% 1.4rem;
}

#about-content h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

#about-content h2 span {
    color: var(--primary);
}

.home-content .row {
    display: flex;
    
}

.home-content .row .about-img {
    flex: 1 1 45rem;
   
}

.home-content .row .about-img img {
    width: 85%;
}

.home-content .row .kenapa-content {
    flex: 1 1 40rem;
    padding: 0 1rem;
}

.home-content .row .kenapa-content h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.home-content .row .kenapa-content p {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.5;
}
/* About style end */

/* Produk terbaru beranda style start */
#pterbaru-content {
    padding: 6rem 7% 1.4rem;
}

#pterbaru-content h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#pterbaru-content h2 span {
    color: var(--primary);
}

.home-content .row-produk-terbaru {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
}

.home-content .row-produk-terbaru .produk-terbaru {
    text-align: center;
    padding: 2rem;
    padding-bottom: 4rem;
}

.home-content .row-produk-terbaru .produk-terbaru img {
    width: 20rem;
    border: 80%;
}

.home-content .row-produk-terbaru .produk-terbaru .produk-tittle {
    margin: 1rem auto 0.5rem;
}

.home-content .row-produk-terbaru .produk-terbaru .produk-price {
    margin: 1rem auto 0.5rem;
}
/* Produk terbaru beranda style end */

/* Review content beranda style start */
.review {
    padding: 6rem 7% 1.4rem;
}

.review h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.review h2 span {
    color: var(--primary);
    font-style: italic;
}

.review .row-review {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: center;
}

.review .row-review .review-card {
    text-align: center;
    padding: 1.5rem;
    padding-bottom: 4rem;
    border-radius: 85%;
}

.review .row-review .review-card h3 {
    font-size: 1.5rem;
    margin: 1rem auto 0.5rem;
}

.review .row-review .review-card p {
    text-align: center;
    max-width: 15rem;
    font-weight: 100;
    line-height: 1.5;
}
/* Review content beranda style end */

/* Footer style start */
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 0.5rem 0 2rem; /* Mengubah nilai padding */
    margin-top: 2rem;
}

footer .sosmed {
    padding: 0.5rem 0;
}

footer .sosmed a {
    font-size: 0.9rem;
    color: #000000;
    margin: 0.5rem;
}

footer .sosmed a:hover {
    color: var(--bg);
}

footer .credit {
    font-size: 1rem;
    margin-top: 0.5rem;
}
/* Footer style end */

/* Product style start */
#all-products, #new-products {
    padding: 7rem 7% 1.4rem;
}

#all-products h2, #new-products h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#all-products h2 span, #new-products h2 span {
    color: var(--primary);
}

.product .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
}

.list-produk, .produk-terbaru {
    text-align: center;
    border: 1px solid #d9cece;
    padding: 5rem;
    margin: 1rem;
}

/* Product style end */

/* Pesanan style start */
.carts {
    padding: 7rem 7% 1.4rem;
}

.carts h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.carts h2 span {
    color: var(--primary);
}

.carts p {
    text-align: center;
    font-size: 1rem;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.5;
}

.carts .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
}

.carts .row .list-carts {
    text-align: center;
    border: 1px solid #d9cece;
    padding: 5rem;
    margin: 1rem;
}

.carts .list-produk-img {
    padding: 1rem 0;
}

.carts .list-produk-img img {
    height: 15rem;
    width: 25rem;
}


/* Pesanan style end */

/* Contact style start */
.contact {
    padding: 7rem 7% 1.4rem;
}

.contact h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact h2 span {
    color: var(--primary);
}

.contact p {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 100;
    line-height: 1.5;
    justify-content: center;
}

.contact .row-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact .row-contact .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    color: #000000;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    margin: 1rem;
}

.contact .row-alamat-saran {
    display: flex;
    margin-top: 4rem;
}

.contact .row-alamat, .row-kritik-saran {
    flex: 1 1 45rem;
    padding: 0 1rem;
    /*border: 1px solid #000000;*/
}

.contact .row-alamat-saran .row-alamat h3, .row-kritik-saran h3 {
    text-align: left;
    margin-bottom: 0.8rem;
    padding-left: 0.5rem;
    text-decoration: underline;
}

.contact .row-alamat-saran .row-alamat p {
    text-align: left;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.contact .row-alamat-saran .row-alamat .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
    padding: 0.5rem 0.5rem;
}

.contact .row-alamat-saran .row-kritik-saran form {
    flex: 1 1 45rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.contact .row-alamat-saran .row-kritik-saran .input-group {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    background-color: #e7e2e2;
    border: 1px solid var(--primary);
    padding-left: 0.5rem;
}

.contact .row-alamat-saran .row-kritik-saran .input-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    background: none;
    color: #000000;
}

.contact .row-alamat-saran .row-kritik-saran .input-group textarea {
    width: 85%;
    padding: 0.5rem;
    font-size: 1rem;
    background: none;
    color: #000000;
}

.contact .row-alamat-saran .row-kritik-saran .submit-button {
    margin: 1rem;
    display: flex;
    justify-content: left;
    margin-left: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #000000;
    background-color: var(--primary);
    cursor: pointer;
    border-radius: 0.5rem;
}

/* Contact style end */

/* Login style start */
.login {
    padding: 7rem 7% 1.4rem;
}

.login h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.login .input-group {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-color: #e7e2e2;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 35%;
    margin-right: 35%;
}

.login .input-group input {
    width: 100%; /* Mengubah nilai lebar input menjadi 100% */
    padding: 1rem; /* Mengubah nilai padding */
    font-size: 1rem;
    background: none;
    color: #000000;
}

.login .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #000000;
    background-color: var(--primary);
    cursor: pointer;
    border-radius: 0.5rem;
}

.login p {
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    justify-content: center;
    text-align: center;
}
/* Login style end */